; This is an example configuration file.
; Lines beginning with the `;` character indicate a comment and will not be
; processed.
; Please make a copy of this file as `settings.ini` and make your changes in
; the new file.

; If no username and password is specified in this section, the tool will run
; in guest mode.
;
; Some AO3 features are not available while browsing in guest mode. If you would
; like to login and access bookmarks, etc. you can specify your credentials for
; AO3 in this section. and uncomment the lines.
[credentials]
; username=foo
; password=bar

; This section controls settings for downloads. By default, files will be 
; downloaded to the 'downloads' folder in the same file as the tool.
; Valid choices for filetype include: AZW3, EPUB, HTML, MOBI, PDF
[downloads]
directory=./downloads
filetype=PDF